body {
    background-color: rgb(248, 233, 211);
}

.logo img {
    width: 150px;
    height: 50px;
    float: left;
}

.menu {
    /*background-color: darkgoldenrod;*/
    list-style-type: none;
    padding: 13px;
    text-align: right;
    /*width: max-content;*/
}

.menu li {
    /*background-color: blueviolet;*/
    display: inline;
    padding: 15px;
    margin: 20px;
}

.menu li a {
    /*background-color: rgb(43, 203, 64);*/
    color: rgb(77, 30, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(173, 110, 83);
}

.hdrink {
    background-color: #adc178;
    border: 5px solid rgb(77, 30, 30);
    margin: 10px;
    /*Kenar Boşluk*/
    width: max-content;
}

#cdrink {
    background-color: #adc178;
    border: 5px solid rgb(77, 30, 30);
    /*margin: 10px;*/
    padding: 20px;
    /*İç Boşluk*/
    width: max-content;
}