.bg-brown {
    background-color: #65451F !important;
    /* Kahverengi */
    /*765827*/
    /*C8AE7D*/
    /*EAC696*/
    /*6C3428*/
}

.bg-beige {
    background-color: #65451fa6 !important;

}

.text-beige {
    color: #ebd6b1 !important;
}